.title {
    border-bottom: 2px solid rgb(20, 108, 26);
    margin-bottom: 10px;

}

.calendar_container {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(1.08);
}
